<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077321100903-39790m6p4barv1bj2kicn8m07p9pkamq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077321100903-39790m6p4barv1bj2kicn8m07p9pkamq</string>
	<key>API_KEY</key>
	<string>AIzaSyBi9XfrUtxT2Kk3Amvvmtx7IbVCIblsTNM</string>
	<key>GCM_SENDER_ID</key>
	<string>1077321100903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>WebDemo1.web.test0198</string>
	<key>PROJECT_ID</key>
	<string>test-9c086</string>
	<key>STORAGE_BUCKET</key>
	<string>test-9c086.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077321100903:ios:97d29c59b8fafb6ce52ec2</string>
</dict>
</plist>